<mat-toolbar color="primary">
  SEO Keyword Analyser and Tracker
</mat-toolbar>
<div class="form p-3 d-flex flex-column gap-3" [formGroup]="formgroup">
  <div class="d-flex flex-column align-items-start gap-2">
    <div class="w-100 d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Enter URL</mat-label>
        <span matTextPrefix>https://</span>
        <input (keyup.enter)="analyseURL()" matInput formControlName="url" placeholder="example.com">
        <mat-error>Invalid URL</mat-error>
      </mat-form-field>
    </div>
    <div class=" w-100 d-flex justify-content-center">
      <button class="flex-grow-0" (click)="analyseURL()" [disabled]="formgroup.invalid" mat-raised-button
              color="primary">
        Analyze
      </button>
    </div>
  </div>
</div>

<div class="p-3" *ngIf="!loading else spinner">
  <div *ngIf="state">
    <div class="p-2">
      <h2>Web Page Analysis</h2>
    </div>
    <div class="d-flex p-2 gap-2">
      <button (click)="displayContent()" mat-flat-button color="primary">Content</button>
    </div>
    <div class="d-flex">
      <div class="p-2">
        <h4>Sub Pages</h4>
        <mat-chip-listbox>
          <mat-chip (click)="setUrl(subpage)" *ngFor="let subpage of state?.subpages?.slice(0,10)">
            {{subpage}}
          </mat-chip>
        </mat-chip-listbox>
      </div>
      <div class="col-6">
        <h4>Top 10 Keywords</h4>
        <canvas
          baseChart
          class="chart"
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="'bar'"
        >
        </canvas>
      </div>
    </div>
    <div class="w-100">
      <angular-tag-cloud #tagCloudComponent [data]="cloudData" [width]="1"
                         [height]="1000"
                         [step]="2"
                         [overflow]="true"
                         [zoomOnHover]="{ scale: 1.2,transitionTime: 0.1}"
                         [class.custom-css]='true'
                         (clicked)="log('clicked', $event)"
      >
      </angular-tag-cloud>
    </div>
    <div class="keywords">
      <h4>Keywords Frequencies</h4>
      <app-table [columns]="keywords.columns" [dataSource]="keywords.dataSource"
                 (rowClick)="clickOnTop($event)"></app-table>
    </div>
    <div class="recomended">
      <h4>Recommended Keywords</h4>
      <app-table #rectable [columns]="recommended.columns" [dataSource]="recommended.dataSource"></app-table>
    </div>
    <div class="charts">
      <app-visuals [wordCountData]="getWordCountData" [executionTimeData]="getExecutionTimeData"></app-visuals>
    </div>
  </div>
  <div *ngIf="!state">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
      <mat-icon style="width: auto;height: auto;font-size: 6em">query_stats</mat-icon>
      <h3 class="m-3">Enter a URL to Analyse the Webpage</h3>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <mat-spinner diameter="150" mode="indeterminate" color="accent"></mat-spinner>
    <span class="m-3 animate-text">Analysing URL</span>
    <span class="m-3 animate-text">{{form('url')}}</span>

  </div>
</ng-template>
