<mat-toolbar color="primary">
  SEO Keyword Analyser and Tracker
</mat-toolbar>
<div class="form p-3 d-flex flex-column gap-3" [formGroup]="formgroup">
  <div class="d-flex flex-column align-items-start gap-2">
    <div class="w-100 d-flex">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Enter URL</mat-label>
        <!--<span matTextPrefix>https://</span> -->
        <input (keyup.enter)="analyseURL()" matInput formControlName="url" placeholder="example.com">
        <mat-error>Invalid URL</mat-error>
      </mat-form-field>
    </div>
    <div class=" w-100 d-flex justify-content-center"> 
      <button class="flex-grow-0 button-spacing enlarge-button" (click)="analyseURL()" [disabled]="formgroup.invalid" mat-raised-button
              color="primary">
        Analyze
      </button>
    </div>
  </div>
</div>
<div *ngIf="!loading else spinner">
  <div class="d-flex p-2">
    <button (click)="displayContent()" mat-flat-button color="accent">Content</button>
  </div>
  <div class="d-flex">
    <div class="p-2">
      <h4>Sub Pages</h4>
      <mat-chip-listbox>
        <mat-chip (click)="setUrl(subpage)" *ngFor="let subpage of state?.subpages">
          {{subpage}}
        </mat-chip>
      </mat-chip-listbox>
    </div>
    <div class="col-6">
      <h4>Top 20 Keywords</h4>
      <canvas
        baseChart
        class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="'bar'"
      >
      </canvas>
    </div>
  </div>

  <div class="w-100">
    <angular-tag-cloud #tagCloudComponent [data]="cloudData" [width]="1"
                       [height]="700"
                       [step]="2"
                       [overflow]="true"
                       [zoomOnHover]="{ scale: 1.2,transitionTime: 0.1}"
                       [class.custom-css]='true'
                       (clicked)="log('clicked', $event)"
    >
    </angular-tag-cloud>
  </div>
</div>

<mat-form-field class="mr-10">
  <mat-label>Type of Algorithm</mat-label>
  <mat-select [(value)]="selectedAlgorithm" (selectionChange)="onAlgorithmSelected()">
    <mat-option value="Rabin-Karp">Rabin-Karp</mat-option>
    <mat-option value="Suffix Tree">Suffix Tree</mat-option>
    <mat-option value="Suffix Array">Suffix Array</mat-option>
    <mat-option value="Naive String Matching">Naive String Matching</mat-option>
    <mat-option value="KMP">KMP</mat-option>
  </mat-select>
</mat-form-field>

<button class= "button-spacing " (click)="executeAlgorithm()">Execute</button> 
<!--<button (click)="showCharts()">Charts</button> -->


<div *ngIf="showAlgorithmOutput">
  <div *ngIf="selectedAlgorithm === 'Rabin-Karp' && rabinKarpOutput !== undefined">
    <!-- Display Rabin-Karp algorithm results -->
    <h2>Rabin-Karp Results</h2>
    <ul>
      Total Time Taken: {{rabinKarpOutput}} milliseconds
      <!--<li *ngFor="let result of rabinKarpOutput">{{ result }}</li>-->
    </ul>
  </div>

  <div *ngIf="selectedAlgorithm === 'Suffix Tree' && suffixTreeOutput !== undefined">
    <!-- Display Suffix Tree algorithm results -->
    <h2>Suffix Tree Results</h2>
    <ul>
      Total Time Taken: {{suffixTreeOutput}} milliseconds
    </ul>
  </div>

  <div *ngIf="selectedAlgorithm === 'Suffix Array' && suffixArrayOutput !== undefined">
    <!-- Display Suffix Tree algorithm results -->
    <h2>Suffix Array Results</h2>
    <ul>
      Total Time Taken: {{suffixArrayOutput}} milliseconds
    </ul>
  </div>

  <div *ngIf="selectedAlgorithm === 'Naive String Matching' && naiveStringMatchingOutput !== undefined">
    <!-- Display Suffix Tree algorithm results -->
    <h2>Naive String Matching</h2>
    <ul>
      Total Time Taken: {{naiveStringMatchingOutput}} milliseconds
    </ul>
  </div>

  <div *ngIf="selectedAlgorithm === 'KMP' && kmpOutput !== undefined">
    <!-- Display Suffix Tree algorithm results -->
    <h2>KMP</h2>
    <ul>
      Total Time Taken: {{kmpOutput}} milliseconds
    </ul>
  </div>

</div>

<!--<div *ngIf="showCharts">
  
  <h2>Rabin-Karp Results</h2>
  <ul>
    <li *ngFor="let result of rabinKarpOutput">{{ result }}</li>
  </ul>
  <h2>Suffix Tree Results</h2>
  <ul>
    <li *ngFor="let result of suffixTreeOutput">{{ result }}</li>
  </ul>
  <h2>Rabin-Karp Results</h2>
  <ul>
    <li *ngFor="let result of suffixArrayOutput">{{ result }}</li>
  </ul>

  <h2>Naive String Results</h2>
  <ul>
    <li *ngFor="let result of naiveStringMatchingOutput">{{ result }}</li>
  </ul>
  
  <h2>KMP Results</h2>
  <ul>
    <li *ngFor="let result of kmpOutput">{{ result }}</li>
  </ul>


</div> -->

<ng-template #spinner>
  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <mat-spinner diameter="150" mode="indeterminate" color="accent"></mat-spinner>
    <span class="m-3 animate-text">Analysing URL</span>
    <span class="m-3 animate-text">{{form('url')}}</span>

  </div>
</ng-template>



<style>
  .flex-grow-0
  {
    padding: 10px;
  }

  .button-spacing {
  margin-left: 40px; /* Adjust the value to control the space between the button and the dropdown */
  }

  .enlarge-button {
  padding: 25px 60px; /* Adjust the padding values to control the button size */
  font-size: 18px;    /* Adjust the font size as needed */
}
</style>